@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-common{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* sharde design below  */
body{
    max-width: 90%;
    margin: 0 auto;
}

.primary-clr{
    color: #3A3A3A;
}

.secondary-clr{
    color: #6C6C6C;
}

.btn-bg{
    background-color: #E02C6D;
}

.btn-text{
    color: #FFFFFF;
}

/* shared design end  */

/* ------------------------------------------------------------  */

/* nav style start  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
nav h3{
    font-size: 24px;
    font-weight: 600;
}

ul{
    display: flex;
    font-weight: 600;
}
 
ul > li{
    list-style: none;
    margin-right: 30px;
}

ul > li:hover{
    cursor: pointer;
    color: red;
}

/* nav style end  */


/* banner styles start  */

.banner{
    margin-top: 60px;
}

.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.banner-text h1{
    font-weight: 700;
    font-size: 45px;
}

.preebook-btn{
    border-radius: 42px;
    border: none;
    padding: 10px 20px;
    font-weight: 700;
}

.banner-img{
    transition: transform 1s ease-in-out 0.5s; /* Smooth transition */
}

.banner-img:hover {
     transform: rotate(360deg); /* Rotates 45 degrees clockwise on hover */
}

