@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-common{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* sharde design below  */
header, main{
    max-width: 90%;
    margin: 0 auto;
}

.primary-clr{
    color: #3A3A3A;
}

.secondary-clr{
    color: #6C6C6C;
}

.btn-bg{
    background-color: #E02C6D;
}

.btn-text{
    color: #FFFFFF;
}

/* shared design end  */

/* ------------------------------------------------------------  */

/* nav style start  */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
nav h3{
    font-size: 24px;
    font-weight: 600;
}

ul{
    display: flex;
    font-weight: 600;
}
 
ul > li{
    list-style: none;
    margin-right: 30px;
}

ul > li:hover{
    cursor: pointer;
    color: red;
}

/* nav style end  */


/* banner styles start  */

.banner{
    margin-top: 60px;
    background-image: url("images/Circle design.png");
}

.banner-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.banner-text h1{
    font-weight: 700;
    font-size: 45px;
}

.preebook-btn{
    border-radius: 42px;
    border: none;
    padding: 10px 20px;
    font-weight: 700;
}

.banner-img{
    background-image: url("images/Circle-design.png"); 
    /* don't work  */
    transition: transform 1s ease-in-out 0.5s; /* Smooth transition */
}

.banner-img:hover {
     transform: rotate(360deg); /* Rotates 45 degrees clockwise on hover */
}

.brands-content{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    justify-items: center;
}
.brands{
    border-top: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    margin: 80px 0px 120px 0px;
}

.cards-container h2{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 80px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.card{
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

.card h3{
    margin: 16px 0px 0px 0px;
}

.card h4{
    margin: 15px 0px;
}

.star-bg{
    color: #FB8200;
}

.see-btn{
     display: flex;
     justify-content: flex-end;
     padding-right: 20px;
}

.seemore{
    background-color: none;
    border: none;
    color: #E02C6D;
    text-decoration: none;
    font-weight: 600;
    margin-top: 40px;
   
}

.featured{
    margin-top: 100px;
}

.featured-content{
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
}

.featured-content h2{
    font-size: 30px;
}

.join-btn{
    border: none;
    padding: 10px 20px;
    font-weight: 700;
}

footer{
    background-color: #0a0826;
    margin-top: 100px;
    text-align: center;
}

.footer-content{
    padding: 50px 0px;
}

.footer-content h3{
    font-size: 24px;
    font-weight: 700;
    margin: 0px;
}

.footer-content p{
    font-size: 14px;
    font-weight: 600;

}

.icon{
    gap:40px;
}

@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
    }

    ul{
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .banner-container{
        flex-direction: column-reverse;
        text-align: center;
    }
    .banner-text h1{
        font-size: 35px;
    }
    .banner-img img{
        width: 90%;
        margin: 0 auto;
    }
    .brands-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .cards{
         grid-template-columns: repeat(1, 1fr);
    }

    .featured-content{
        flex-direction: column-reverse;
    }

    .feature-img img{
       padding-left: 5%;
       padding-right: 5%;
       max-width: 90%;
    }

    .feature-text{
    text-align: center;
    }
   
}

@media screen and (min-width: 576px) and (max-width: 992px){
    .brands-content{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

     .cards{
         grid-template-columns: repeat(2, 1fr);
    }
}
